/* Définit un conteneur flexible */
.container {
    display: flex;
    justify-content: space-between; /* Aligne les éléments avec un espace égal entre eux */
    align-items: center;
    height: 100vh; /* Utilise toute la hauteur de la fenêtre visible */
    gap: 700px;
}

/* Style pour le conteneur des boutons */
.button-container {
    width: 80%; /* Répartit l'espace disponible entre les deux boutons */
    margin-bottom: 400px;
}

/* Style pour les boutons à l'intérieur du conteneur */
.button-container button {
    width: 100%; /* Utilise toute la largeur disponible dans le conteneur */
    height: 100px;
    margin: 20px;
    padding: 10px;
    font-size: 16px;
}
