@use "../../../../assets/styles/mixins" as mixin;

.formXs {
  @include mixin.xs {
    display: none;
  }
}

input {
  width: 7rem;
  height: 1.6rem;
  border: 0.1rem var(--primary) solid;
  padding-left: 1rem;
 
}

.inputMail {
  border-radius: 10px 0 0 10px;
}

.buttonLogin {
  height: 1.6rem;
  border-radius: 0 10px 10px 0;
  background-color: var(--primary);
  color: white;
  border: none;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

form {
  margin-left: 20rem;
}
